data/
node_modules/
./node_modules
./data/
uploads/
uploads/productimages/
uploads/userimages/
client_secret_381472359898-f1hsbeb2olgv6jgr0be4i61qrlthhjbf.apps.googleusercontent.com.json 
credentials.json
token.json
/ssl

